
<div style="text-align:center">
  <h1>
    Welcome to Angular + Python + Flask Demo!
  </h1>
</div>

<div>
  <button (click)="sayHi()">Say Hi</button>
  <span>Server data: {{serverData | json}}</span>
</div>

<div>
  <input #box (keyup.enter)="onEnter(box.value)">
  <p>Employee data: {{value | json}}</p>
</div>

<div>
  <button (click)="getAllEmployees()">All Employees</button>
  <table *ngIf="employeeData">
     <tr>
            <th>First Name</th>
                <th>Last Name</th>
                    <th>Age</th>
     </tr>
     <tr *ngFor="let abc of employeeData">
            <td>{{abc.First_Name}}</td>
                <td>{{abc.Last_Name}}</td>
                    <td>{{abc.Age}}</td>
     </tr>
    </table>
</div>
